.main {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.center {
  margin: 10px 0;
}

.mainNav ul {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
}
.mainNav ul li {
  font-weight: bold;
  margin: 20px;
  list-style: none;
}
